<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/assets/app.css">
    <title>Document</title>
</head>
<body>
    <h1>Hello, App!</h1>
    <nav>
        <a href="/">Home</a>|
        <a href="/about">About</a>|
        <a href="/contact">Contact</a>
    </nav>
    <hr>
    <form action="/" method="GET">
        <input type="text" name="q" id="q" placeholder="Søg...">
        <input type="submit" value="Søg">
    </form>
    <hr>
    @RenderBody()
</body>
</html>